body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: medium;
    background-color: black;
    color: white;
}

.container { 
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 50px;
}

img {
    width: 100%;
    height: auto;
}

ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

li {
    display: inline;
    list-style-type: none; 
    margin: 0;
    padding-right: 20px;
}

li img {
    width: 2.5em; 
    height: auto;
}

a {
    color: white;
    text-decoration: underline;
}

.title {
    font-size: xx-large;
    justify-items: center;
}

/* code {
    color: black;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
} */

pre {
    background-color: #151b23; 
    /* border: 1px solid #d0d7de; */
    border-radius: 6px;
    padding: 12px;
    overflow-x: auto;
    font-size: 14px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    white-space: pre-wrap; 
    word-wrap: break-word;
    display: block;
}

code {
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}