body {
    background-color: #121212;
    color: white;
    font-family: "Exo 2";

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.container {
    outline-style: solid;
    outline-width: 1px;
    outline-color: #373737;

    max-width: 512px;
    padding: 32px;
}

img {
    max-width: 100%;
}

pre {
    outline-style: solid;
    outline-width: 1px;
    outline-color: #373737;

    white-space: pre-wrap;
    background-color: #1E1E1E;
    border-radius: 5px;
    padding: 16px;
}

table, tr, td {
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
    padding: 8px;
}

a {
    color: white;
}